<app-card>
  <h3 class="font-heading-s margin-bottom-l">{{ "CONTACT_US" | translate }}</h3>

  <app-card-item-list classes="margin-bottom-l">
    <section class="display-flex align-items-center column-gap-m">
      <app-icon icon="LIVE_HELP_OUTLINED" size="2xl"></app-icon>
      <h4 class="font-heading-2xs">{{ "CONTACT_FAQ" | translate }}</h4>
    </section>
    <app-icon icon="CHEVRON_RIGHT_OUTLINED" size="3xl"></app-icon>
  </app-card-item-list>

  <app-card-item-list>
    <section class="display-flex align-items-center column-gap-m">
      <app-icon icon="CONTACT_SUPPORT_OUTLINED" size="2xl"></app-icon>
      <h4 class="font-heading-2xs">{{ "SUPPORT_CHANNELS" | translate }}</h4>
    </section>
    <app-icon icon="CHEVRON_RIGHT_OUTLINED" size="3xl"></app-icon>
  </app-card-item-list>
</app-card>
