<div
  class="step-element step-element-{{ type() }} step-element-{{
    orientation()
  }} step-element-{{ type() }}-{{ size() }}"
  [ngClass]="{
    'step-element-finished': isFinished(),
    'step-element-active': isSelected()
  }"
  [appDisabledElement]="disabledElement()"
  (click)="stepClick.emit()"
>
  <div class="step-element-content center-all" [attr.isFirst]="index() === 0">
    @if(type() === 'custom-icon'){
    <app-icon [icon]="icon()" size="5xl"  @fadeIn></app-icon>
    }@else{ @if(icon()){
    <app-icon [icon]="icon()" size="xl"  @fadeIn></app-icon>
    }@else { @if(isFinished()){
    <app-icon icon="DONE_OUTLINED" size="xl"  @fadeIn></app-icon>
    }@else {
    <span class="font-text-regular-m" @fadeIn>
      {{ index() + 1 }}
    </span>
    } } }
  </div>

  <section>
    @if(label()){
    <p class="font-text-regular-l">
      {{ label() }}
    </p>
    } @if(description()){
    <p class="font-text-regular-m">
      {{ description() }}
    </p>
    }
  </section>
</div>
