<div
  class="form-field form-field-textarea form-field-{{
    invalid && touched ? 'error' : status()
  }} form-field-textarea-{{ size() }} {{ classes() }}"
  [ngClass]="{
    'form-field-filled': valid && touched
  }"
  [appDisabledElement]="disabledElement()"
  [attr.readonly]="readonly()"
  [attr.required]="required()"
  [opacityElement]="0.5"
>
  <div class="display-flex align-items-center justify-content-space-between">
    <ng-content select="[label]"></ng-content>
    <ng-content select="[labelOptional]"></ng-content>
  </div>

  <div
    [ngClass]="{
      'padding-bottom-s-important': hideCounter()
    }"
    class="form-field-content"
    (click)="textarea.focus()"
  >
    <ng-content select="[prefix]"></ng-content>
    <textarea
      [tabindex]="readonly() || disabledElement() ? -1 : 0"
      [placeholder]="placeholder()"
      (input)="onInput($event)"
      [maxLength]="maxLength()"
      [title]="placeholder()"
      [readonly]="readonly()"
      appSanitizerToString
      appTextAreaAdjust
      [value]="value()"
      (blur)="onBlur()"
      [name]="id()"
      [id]="id()"
      #textarea
    ></textarea>

    @if(!disabledElement() && !readonly()){
    <!-- Clear action icon -->
    @if(!!value()){
    <app-icon
      (click)="clearTextarea()"
      icon="CLOSE_FILLED"
      @fadeInOut
      size="xl"
    ></app-icon>
    } }
    <ng-content select="[suffix]"></ng-content>

    @if(!hideCounter()){
    <div class="form-field-content-footer">
      <!-- Status icon -->
      @if(iconStatus() || (invalid && touched)){
      <app-icon
        [icon]="iconStatus() || 'ERROR_OUTLINE_OUTLINED'"
        @fadeInOut
        size="xl"
        
      ></app-icon>
      }
      <div class="form-field-content-footer-counter">
        <span>{{ value()?.length || 0 }} / </span>
        <span>{{ maxLength() }}</span>
      </div>
    </div>
    }
  </div>

  @if(invalid && touched){ @if(defaultLabelError()){
  <label [for]="id()" secondary="true">Este campo es obligatorio</label>
  }@else {
  <ng-content select="[labelError]"></ng-content>
  } }

  <ng-content select="[labelSecondary]"></ng-content>
</div>
