@let pageSize = queryParams()?.['PageSize']; @if(!!totalItems()){
<div
  class="display-flex align-items-center flex-direction-column row-gap-s {{
    classes()
  }}"
  [ngClass]="{ 'align-items-center': !hideShowMore() }"
>
  @if(!error() && totalItemsConsulted() < totalItems() && !hideShowMore()){
  <app-button
    classes="button-secondary button-xs"
    [disabledElement]="error()"
    (eventClick)="loadMore()"
    [loading]="loading()"
  >
    <!-- <app-icon icon="smoking_rooms_outlined" size="2xl"></app-icon> -->
    {{ "SHOW_MORE" | translate : { number: pageSize } }}
  </app-button>
  } @if(loading()){
  <app-item-skeleton height="16" width="150"></app-item-skeleton>
  }@else {
  <p class="font-text-regular-s">
    {{ "SHOWING" | translate }}
    <b>
      1 -
      {{ totalItemsConsulted() }}
    </b>
    {{ "OF" | translate : null : "lower" }}
    <b>
      {{ totalItems() }}
    </b>
  </p>
  }
</div>
}
