@use "./functions";
@use "./theme";

@use "sass:list";
@use "sass:map";

$properties-map: (
  border-width: (
    xl: 8px,
    l: 4px,
    m: 2px,
    s: 1.5px,
    xs: 1px,
  ),
  border-radius: (
    circle: 50%,
    pill: 999px,
    2xl: 32px,
    xl: 24px,
    l: 16px,
    m: 12px,
    s: 8px,
    xs: 4px,
  ),
  space: (
    12xl: 112px,
    11xl: 104px,
    10xl: 96px,
    9xl: 88px,
    8xl: 80px,
    7xl: 72px,
    6xl: 64px,
    5xl: 56px,
    4xl: 48px,
    3xl: 40px,
    2xl: 32px,
    xl: 24px,
    l: 16px,
    m: 12px,
    s: 8px,
    xs: 4px,
    2xs: 2px,
  ),
  size: (
    10xl: 72px,
    9xl: 64px,
    8xl: 56px,
    7xl: 48px,
    6xl: 40px,
    5xl: 32px,
    4xl: 28px,
    3xl: 24px,
    2xl: 20px,
    xl: 18px,
    l: 16px,
    m: 14px,
    s: 12px,
    xs: 10px,
    2xs: 8px,
    3xs: 5px,
  ),
  line-height: (
    10xl: 80px,
    9xl: 72px,
    8xl: 64px,
    7xl: 56px,
    6xl: 48px,
    5xl: 40px,
    4xl: 36px,
    3xl: 32px,
    2xl: 28px,
    xl: 26px,
    l: 24px,
    m: 20px,
    s: 16px,
    xs: 14px,
    2xs: 12px,
  ),
  letter-spacing: (
    none: 0px,
    s: -0.5px,
    xs: -1px,
  ),
  font-weight: (
    regular: 400,
    semibold: 600,
  ),
);

$elevations: (
  l1: (
    (0px 0px 2px 0px, 0.08),
    (0px 2px 4px 0px, 0.08),
  ),
  l2: (
    (0px 0px 4px 0px, 0.08),
    (0px 4px 8px 0px, 0.1),
  ),
);

$properties-to-each: (
  size: (
    font-size,
    width,
    height,
    min-width,
    min-height,
    max-width,
    max-height,
  ),
  space: (
    padding,
    padding-bottom,
    padding-inline,
    padding-right,
    padding-block,
    padding-left,
    padding-top,
    gap,
    column-gap,
    row-gap,
    margin,
    margin-bottom,
    margin-inline,
    margin-right,
    margin-block,
    margin-left,
    margin-top,
  ),
  border-radius: (
    border-radius,
    border-top-left-radius,
    border-top-right-radius,
    border-bottom-left-radius,
    border-bottom-right-radius,
  ),
  border-width: (
    border-width,
    border-top-width,
    border-right-width,
    border-bottom-width,
    border-left-width,
  ),
);

@mixin generate-global-classes() {
  @each $property, $values in $properties-map {
    @each $value, $unit in $values {
      $properties: map.get($properties-to-each, $property);

      @if $properties {
        @each $property-size in $properties {
          .#{$property-size}-#{$value} {
            #{$property-size}: functions.convertToRem($unit);

            &-important {
              #{$property-size}: functions.convertToRem($unit) !important;
            }
          }
        }
      } @else {
        .#{$property}-#{$value} {
          #{$property}: functions.convertToRem($unit);

          &-important {
            #{$property}: functions.convertToRem($unit) !important;
          }
        }
      }
    }
  }
}

@function get-specific-value($property, $value) {
  $values: map.get($properties-map, $property);

  @if ($values) {
    $unit: map.get($values, $value);
    @if ($unit) {
      @return functions.convertToRem($unit);
    } @else {
      @error "La unidad no existe #{$unit}";
    }
  } @else {
    @error "La propiedad no existe #{$property}";
  }
}

@mixin get-elevation($level: l1, $color: null) {
  $shadows: map.get($elevations, $level);
  $r: null;
  $g: null;
  $b: null;

  @if $shadows == null {
    @warn "⚠️ Elevation level '#{$level}' no está definido.";
  }

  @if $color == null {
    $color: theme.get-specific-color-from-tokens(content, secondary);
  }

  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $shadow-list: ();

  @each $shadow in $shadows {
    $offset: list.nth($shadow, 1);
    $opacity: list.nth($shadow, 2);
    $rgba: rgba($r, $g, $b, $opacity);

    $shadow-list: list.append($shadow-list, #{$offset} #{$rgba}, comma);
  }

  box-shadow: $shadow-list;
}

@mixin generate-elevation-classes() {
  $base-color: theme.get-specific-color-from-tokens(content, secondary);
  $r: red($base-color);
  $g: green($base-color);
  $b: blue($base-color);

  @each $level, $shadows in $elevations {
    .elevation-#{$level} {
      $shadow-list: ();

      @each $shadow in $shadows {
        $offset: list.nth($shadow, 1);
        $opacity: list.nth($shadow, 2);
        $rgba: rgba($r, $g, $b, $opacity);
        $shadow-list: list.append($shadow-list, #{$offset} #{$rgba}, comma);
      }

      box-shadow: $shadow-list;
    }
  }
}
