<div class="alert {{ statusClass() }} {{ classes() }}" [ngClass]="{ 'alert-modal': inModal() }">
  <div class="alert-header">
    @if(!hideCloseButton()){
    <div class="display-flex justify-content-flex-end mb-100-rem">
      <app-button
        classes="button-{{ statusFormatted() }} button-circle button-circle-2xs"
        (eventClick)="eventAlert.emit('close')"
        [disabledElement]="disableCloseButton()"
      >
        <app-icon icon="CLOSE_OUTLINED" size="3xl"></app-icon>
      </app-button>
    </div>
    }
  </div>
  <div class="alert-body">
    @if(!hideImage()){
    <div class="center-all">
      <div class="alert-body-image center-all">
        <app-image [image]="imageAlert()" height="48" width="48"></app-image>
      </div>
    </div>
    }

    <h2
      class="font-heading-m margin-bottom-m text-align-center cl-content-{{
        statusFormatted()
      }}"
    >
      <ng-content select="[title]"></ng-content>
    </h2>

    <p class="font-text-regular-m text-align-center margin-bottom-l">
      <ng-content select="[description]"></ng-content>
    </p>

    <ng-content select="[body]"></ng-content>
  </div>
  <div class="alert-footer">
    <div class="display-flex align-items-center cg-100-rem">
      @if(!hideSecondaryButton()){
      <app-button
        (eventClick)="eventAlert.emit('secondary')"
        [disabledElement]="disableSecondaryButton()"
        classes="button-secondary-ghost button-s"
        [loading]="loadingSecondaryButton()"
        class="width-100"
      >
        <ng-content select="[secondaryButton]"></ng-content>
      </app-button>
      } @if(!hidePrimaryButton()){
      <app-button
        (eventClick)="eventAlert.emit('primary')"
        classes="button-{{ statusFormatted() }} button-s"
        [disabledElement]="disablePrimaryButton()"
        [loading]="loadingPrimaryButton()"
        class="width-100"
      >
        <ng-content select="[primaryButton]"></ng-content>
      </app-button>
      }
    </div>
    @if(!hideTertiaryButton()){
    <div class="display-flex justify-content-flex-end">
      <app-button
        (eventClick)="eventAlert.emit('tertiary')"
        classes="button-secondary-ghost button-s margin-top-l"
        [disabledElement]="disableTertiaryButton()"
        [loading]="loadingTertiaryButton()"
      >
        <p class="font-text-regular-l">
          <ng-content select="[tertiaryButton]"></ng-content>
        </p>
      </app-button>
    </div>
    }
    <ng-content select="[footer]"></ng-content>
  </div>
</div>
