@use "../core/functions";
@use "../core/global";
@use "../core/theme";

.switch {
  border-radius: global.get-specific-value(border-radius, l);
  padding: global.get-specific-value(space,2xs);
  transition: background-color 0.3s ease;
  position: relative;
  cursor: pointer;
  border: none;

  /** Circulo blanco */
  &-track {
    padding: global.get-specific-value(space,2xs);
    background-color: var(--color-basic-white);
    transition: width 0.3s ease;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;

    @include global.get-elevation(l1);

    &-loading {
      border: functions.convertToRem(2px) solid transparent;
      border-top-color: var(--color-content-secondary);
      animation: spin 1s linear infinite;
      pointer-events: none;
      border-radius: 50%;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
  }

  /** Tamaños */
  &:not(.switch-s) {
    height: functions.convertToRem(22px);
    width: functions.convertToRem(44px);

    & .switch-track {
      border-radius: global.get-specific-value(border-radius, l);
      height: functions.convertToRem(18px);
      width: functions.convertToRem(18px);
    }

    &:active {
      & .switch-track {
        width: functions.convertToRem(24px);
      }
    }
  }

  &-s {
    height: functions.convertToRem(16px);
    width: functions.convertToRem(28px);

    & .switch-track {
      border-radius: global.get-specific-value(border-radius, l);
      height: functions.convertToRem(12px);
      width: functions.convertToRem(12px);
    }

    &:active {
      & .switch-track {
        width: functions.convertToRem(16px);
      }
    }
  }

  /** Variante checked */
  &[checked="true"] {
    background-color: var(--color-content-secondary);

    & .switch-track {
      right: global.get-specific-value(space,2xs);
    }
  }

  &:not([checked="true"]) {
    background-color: var(--color-background-secondary-high);
  }

  /** Variante disabled */
  &[disabled="true"] {
    background-color: var(--color-background-secondary-high);
    opacity: 0.65;
  }

  /** Variante readonly */
  &[readonly="true"] {
    pointer-events: none;
    opacity: 0.65;
  }
}
