.pull-to-refresh-container {
  flex-direction: column;
  display: flex;
  height: 100%;

  & .pull-banner {
    background-color: var(--color-neutral-50);
    transition: height 0.3s ease-out;
    width: 100%;
  }
}
