@use "src/app/domonow-shared-components-web/styles/core/global";

.card-item-list {
  border-radius: global.get-specific-value(border-radius, l);
  border-width: global.get-specific-value(border-width, xs);
  column-gap: global.get-specific-value(space, m);
  padding: global.get-specific-value(space, s)
    global.get-specific-value(space, l);
  transition: background-color 0.3s ease;
  justify-content: space-between;
  border-style: solid;
  align-items: center;
  display: flex;

  &:not([class*="bc-"]) {
    border-color: var(--color-border-tertiary);
  }

  &:not([class*="bg-"]) {
    background-color: var(--color-content-secondary-inverse);
  }

  &:not([class*="elevation-"]) {
    @include global.get-elevation();
  }
}
