@use "src/app/domonow-shared-components-web/styles/core/global";

.notification {
  position: fixed;
  min-width: 90%;
  z-index: 100;

  &-separator {
    background-color: var(--color-content-secondary-inverse);
    min-height: global.get-specific-value(size, l);
    height: 100%;
    width: 1px;
  }

  &-success {
    background-color: var(--color-content-success);
  }

  &-error {
    background-color: var(--color-content-error);
  }

  &-warning {
    background-color: var(--color-content-warning);
  }

  &-info {
    background-color: var(--color-content-info);
  }

  &-top-center {
    transform: translateX(-50%);
    top: 0.5rem;
    left: 50%;
  }

  &-top-right {
    top: 1rem;
    right: 1rem;
  }

  &-top-left {
    top: 1rem;
    left: 1rem;
  }

  &-bottom-center {
    transform: translateX(-50%);
    bottom: 1rem;
    left: 50%;
  }

  &-bottom-right {
    bottom: 1rem;
    right: 1rem;
  }

  &-bottom-left {
    bottom: 1rem;
    left: 1rem;
  }
}
