@if(!hideNotification()){
<div
  class="notification padding-l column-gap-l border-radius-l display-flex align-items-center justify-content-space-between notification-{{
    position()
  }} notification-{{ theme() }}"
  [@notificationSlide]="{ value: '', params: translateEnterAndLeave() }"
  (click)="executeAction($event, false)"
>
  <section class="display-flex align-items-center column-gap-m">
    <p class="font-text-regular-l cl-content-secondary-inverse">
      {{ message() | translate : null : "capitalize" }}
    </p>
  </section>
  @if(action()){
  <section class="display-flex align-items-center column-gap-m">
    <p
      class="font-text-semibold-m cl-content-secondary-inverse unselectable cursor-pointer white-space-nowrap"
      (click)="executeAction($event, true)"
      appOmitClick
    >
      {{ action() | translate }}
    </p>
    <div class="notification-separator"></div>
    <app-icon
      color="svg-content-secondary-inverse"
      icon="CLOSE_OUTLINED"
      size="xl"
    ></app-icon>
  </section>
  }
</div>
}
