<div
  [ngClass]="{ 'container-my-services-mobile': layoutService.isMobile() }"
  class="container-my-services"
>
  <div
    class="display-flex align-items-center justify-content-space-between margin-bottom-xl"
  >
    <h3 class="font-heading-s">{{ "MY_SERVICES" | translate }}</h3>

    <!-- <a class="font-text-regular-m text-decoration-underline cursor-pointer">
      Ver más
    </a> -->
  </div>
  <div class="container-my-services-shortcuts">
    @for(shortcut of listShortCuts(); track shortcut){
    <div
      class="container-my-services-shortcuts-item"
      (click)="goToModule(shortcut.redirection)"
    >
      <app-navigation-card
        classes="navigation-card-add text-cut"
        orientation="vertical"
        size="xs"
      >
        <app-icon [icon]="shortcut.icon" size="5xl"></app-icon>
        {{ shortcut.label | translate }}
      </app-navigation-card>
    </div>
    }
  </div>
</div>
