@use "src/app/domonow-shared-components-web/styles/core/global";

.filters-bar {
  background-color: var(--color-background-secondary-inverse);
  border-radius: global.get-specific-value(border-radius, l);
  border: global.get-specific-value(border-width, xs) solid
    var(--color-border-tertiary);
  row-gap: global.get-specific-value(space, m);
  padding: global.get-specific-value(space, s);
  flex-direction: column;
  display: flex;

  @include global.get-elevation(l2);

  &-item {
    border-radius: global.get-specific-value(border-radius, s);
    background-color: var(--color-background-secondary-low);
    min-width: global.get-specific-value(size, 5xl);
    height: global.get-specific-value(size, 5xl);
    justify-content: center;
    align-items: center;
    display: flex;

    @include global.get-elevation();
  }
}
