<div (click)="eventClick.emit()" [ngClass]="classes()" class="filters-bar">
  <section
    class="display-flex align-items-center justify-content-space-between column-gap-m"
  >
    <ng-container *ngTemplateOutlet="checkboxControlTemplate"></ng-container>
    @if(type() === 'mini'){
    <ng-container *ngTemplateOutlet="searchControlTemplate"></ng-container>
    }
    <ng-container *ngTemplateOutlet="filtersBarContent"></ng-container>
  </section>

  @if(type() === 'default'){
  <ng-container *ngTemplateOutlet="searchControlTemplate"></ng-container>
  }
</div>

<ng-template #checkboxControlTemplate>
  @if(showSelectAll()){
  <div class="filters-bar-item">
    <app-checkbox
      (checkChange)="selectAllChange.emit($event)"
      [formControl]="selectAllControl()"
      id="filtersBarSelectAll"
    ></app-checkbox>
  </div>
  }
</ng-template>

<ng-template #searchControlTemplate>
  <app-input-text
    [placeholder]="placeholder() | translate"
    [formControl]="searchControl()"
    id="filtersBarSearch"
    class="width-100"
    size="md"
  >
    <app-icon icon="SEARCH_OUTLINED" size="2xl" prefix></app-icon>
  </app-input-text>
</ng-template>

<ng-template #filtersBarContent>
  <!-- @if(showFilterOrder()){
  <div class="filters-bar-item">
    <app-icon icon="SWAP_VERT_OUTLINED" size="3xl" ></app-icon>
  </div>
  }

  <div class="filters-bar-item">
    <app-icon icon="FILTER_LIST_OUTLINED" size="3xl" ></app-icon>
  </div>

  @if(showFilterOptions()){
  <div class="filters-bar-item">
    <app-icon icon="MORE_VERT_OUTLINED" size="3xl" ></app-icon>
  </div>
  } -->
</ng-template>
