<div
  [ngClass]="{
    'doorman-info-card-mobile': layoutService.isMobile()
  }"
  class="doorman-info-card"
>
  <h3
    class="font-heading-semibold-s cl-content-secondary-inverse margin-bottom-l"
  >
    Portería
  </h3>
  <div class="display-flex flex-direction-column row-gap-s">
    <section class="display-flex align-items-center column-gap-l">
      <app-icon
        color="svg-content-secondary-inverse"
        icon="BADGE_OUTLINED"
        size="3xl"
      ></app-icon>
      <article>
        <p class="font-text-semibold-s cl-content-secondary-inverse">Portero</p>
        <p class="font-text-regular-m cl-content-secondary-inverse">
          {{ doorman()?.nameUser }}
        </p>
      </article>
    </section>

    <section class="display-flex align-items-center column-gap-l">
      <app-icon
        color="svg-content-secondary-inverse"
        icon="MAIL_OUTLINED"
        size="3xl"
      ></app-icon>
      <article>
        <p class="font-text-semibold-s cl-content-secondary-inverse">Correo</p>
        <p class="font-text-regular-m cl-content-secondary-inverse">
          {{ doorman()?.email }}
        </p>
      </article>
    </section>

    <div class="separator"></div>

    <section class="display-flex align-items-center column-gap-l">
      <app-icon
        color="svg-content-secondary-inverse"
        icon="PHONE_OUTLINED"
        size="3xl"
      ></app-icon>
      <article>
        <p class="font-text-semibold-s cl-content-secondary-inverse">
          Teléfono portería
        </p>
        <p class="font-text-regular-m cl-content-secondary-inverse">
          {{ doorman()?.cellPhone }}
        </p>
      </article>
    </section>
  </div>
</div>
