<div class="collapsible">
  <app-card
    classes="display-flex align-items-center justify-content-space-between {{
      classes()
    }}"
    (eventClick)="eventClick.emit()"
  >
    <section class="display-flex align-items-center column-gap-s">
      <ng-content select="[title]"></ng-content>
    </section>
    <section class="display-flex align-items-center column-gap-s">
      <ng-content select="[description]"></ng-content>

      <div
        [ngClass]="{ 'rotate-icon-activate': isOpened() }"
        class="rotate-icon"
      >
        <app-icon
          color="svg-content-secondary-inverse"
          icon="expand_more_outlined"
          size="3xl"
        ></app-icon>
      </div>
    </section>
  </app-card>

  @if(isOpened()){
  <section class="padding-inline-m padding-block-s" @collapse>
    <ng-content select="[body]"></ng-content>
  </section>
  }
</div>
