@use "src/app/domonow-shared-components-web/styles/core/functions";
@use "src/app/domonow-shared-components-web/styles/core/global";
@use "src/app/domonow-shared-components-web/styles/core/mixins";

.form-field-select {
  &[readonly="true"] {
    & .form-field-content {
      & p:not([empty="true"]) {
        color: var(--color-neutral-600);
      }
    }
  }

  &:not([readonly="true"]) {
    & .form-field-content {
      & p:not([empty="true"]) {
        color: var(--color-neutral-900);
      }
    }
  }

  & .form-field-content {
    & p[empty="true"] {
      color: var(--color-neutral-300);
    }

    & .container-group-tags {
      gap: global.get-specific-value(space, s);
      flex-wrap: wrap;
      display: flex;
      width: 100%;
    }
  }
}

.overlay-select {
  flex-direction: column;
  list-style: none;
  display: flex;
  height: 100%;
  padding: 0;

  &:not(.overlay-select-mobile) {
    max-height: 16rem;
  }

  &-mobile {
    & .overlay-select-body {
      height: 100%;
    }
  }

  &-header {
    padding: global.get-specific-value(space, l)
      global.get-specific-value(space, l) 0 global.get-specific-value(space, l);

    & .separator {
      background-color: var(--color-border-tertiary);
      height: functions.convertToRem(1px);
      width: 100%;
    }
  }

  &-body {
    padding: global.get-specific-value(space, s)
      global.get-specific-value(space, l) global.get-specific-value(space, l)
      global.get-specific-value(space, l);
    row-gap: global.get-specific-value(space, s);
    flex-direction: column;
    overflow-y: auto;
    display: flex;
  }
}
