@use "../core/typography";
@use "../core/animations";
@use "../core/functions";
@use "../core/global";
@use "../core/theme";

.form-field {
  & label {
    margin-bottom: 0.3rem;

    &[principal="true"] {
      @include typography.get-typography-style(text-regular, m);
      color: var(--color-neutral-800);
    }

    &:not([principal="true"]) {
      @include typography.get-typography-style(text-regular, s);
      color: var(--color-neutral-700);
    }

    &[secondary="true"] {
      margin-top: 0.3rem;
      display: block;
    }
  }

  &[required="true"] {
    & label {
      &[principal="true"] {
        &::before {
          color: var(--color-content-error);
          margin-right: 0.3rem;
          content: "*";
        }
      }
    }
  }

  &:not(.form-field-textarea) {
    & .form-field-content {
      padding: global.get-specific-value(space, s)
        global.get-specific-value(space, m);
      align-items: center;
    }
  }

  &:not(.form-field-select) {
    &.form-field-combo {
      & .form-field-content {
        border-radius: 0 global.get-specific-value(border-radius, m)
          global.get-specific-value(border-radius, m) 0;
      }
    }
  }

  &:not(.form-field-combo):not(.form-field-select-combo) {
    & .form-field-content {
      border-radius: global.get-specific-value(border-radius, m);
    }
  }

  &-content {
    transition: background-color 0.3s ease, color 0.3s ease,
      border-color 0.3s ease, box-shadow 0.3s ease;
    border-width: global.get-specific-value(border-width, xs);
    column-gap: global.get-specific-value(space, s);
    background-color: var(--color-basic-white);
    border-color: var(--color-neutral-100);
    border-style: solid;
    display: flex;
    cursor: text;

    & input,
    & textarea {
      background-color: transparent;
      appearance: none;
      resize: none;
      border: none;
      height: 100%;
      width: 100%;
      padding: 0;

      &::placeholder {
        color: var(--color-neutral-300);
      }

      &[type="number"] {
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
        -moz-box-shadow: 0 0 0px 1000px transparent inset;
        -webkit-text-fill-color: var(--color-neutral-900);
        box-shadow: 0 0 0px 1000px transparent inset;
      }
    }
  }

  /** Tamaños **/
  &-lg {
    & .form-field-content {
      min-height: functions.convertToRem(48px);
      & input {
        @include typography.get-typography-style(text-regular, l);
      }
    }
  }

  &-md {
    & .form-field-content {
      min-height: functions.convertToRem(40px);
      & input {
        @include typography.get-typography-style(text-regular, l);
      }
    }
  }

  &-sm {
    & .form-field-content {
      min-height: functions.convertToRem(32px);
      & input {
        @include typography.get-typography-style(text-regular, m);
      }
    }
  }

  &-textarea {
    & .form-field-content {
      position: relative;
      padding: global.get-specific-value(space, s)
        global.get-specific-value(space, m)
        global.get-specific-value(space, 2xl)
        global.get-specific-value(space, m);

      & textarea {
        @include typography.get-typography-style(text-regular, l);
      }

      &-footer {
        column-gap: global.get-specific-value(space, m);
        align-items: center;
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
        display: flex;

        &-counter {
          & span {
            @include typography.get-typography-style(text-regular, s);
            color: var(--color-neutral-700);
          }
        }
      }
    }

    &-lg {
      & .form-field-content {
        min-height: functions.convertToRem(120px);

        & textarea {
          min-height: functions.convertToRem(78px);
        }
      }
    }

    &-md {
      & .form-field-content {
        min-height: functions.convertToRem(96px);

        & textarea {
          min-height: functions.convertToRem(54px);
        }
      }
    }

    &-sm {
      & .form-field-content {
        min-height: functions.convertToRem(60px);

        & textarea {
          min-height: functions.convertToRem(30px);
        }
      }
    }
  }

  &-select {
    &.form-field-combo {
      & .form-field-content {
        border-radius: global.get-specific-value(border-radius, m) 0 0
          global.get-specific-value(border-radius, m);
      }
    }
  }

  &:not([disabled="true"]):not([readonly="true"]) {
    & .form-field-content {
      &:focus-within {
        @include global.get-elevation(l2);
      }

      & input {
        color: var(--color-neutral-900);
      }
    }
  }

  /** Variante readonly **/
  &[readonly="true"] {
    & .form-field-content {
      background-color: var(--color-neutral-25);
      cursor: default;

      & input {
        color: var(--color-neutral-600);
        cursor: default;
      }
    }
  }

  &:not(.form-field-error):not(.form-field-warning):not(
      .form-field-success
    ):not(.form-field-info):not([disabled="true"]):not([readonly="true"]) {
    & .form-field-content {
      &:hover {
        border-color: var(--color-neutral-200);
      }

      &:focus-within {
        border-color: var(--color-secondary-500);
      }
    }

    &.form-field-filled {
      & .form-field-content {
        border-color: var(--color-secondary-500);
      }
    }
  }

  /** Variante colores **/

  &-error {
    & .form-field-content {
      border-color: var(--color-content-error);
    }

    & label {
      &[secondary="true"] {
        color: var(--color-content-error);
      }
    }

    & svg path {
      fill: var(--color-content-error);
    }
  }

  &-warning {
    & .form-field-content {
      border-color: var(--color-content-warning);
    }

    & label {
      &[secondary="true"] {
        color: var(--color-content-warning);
      }
    }

    & svg path {
      fill: var(--color-content-warning);
    }
  }

  &-success {
    & .form-field-content {
      border-color: var(--color-content-success);
    }

    & label {
      &[secondary="true"] {
        color: var(--color-content-success);
      }
    }

    & svg path {
      fill: var(--color-content-success);
    }
  }

  &-info {
    & .form-field-content {
      border-color: var(--color-content-info);
    }

    & label {
      &[secondary="true"] {
        color: var(--color-content-info);
      }
    }

    & svg path {
      fill: var(--color-content-info);
    }
  }
}
