@use "../core/typography";
@use "../core/functions";
@use "../core/global";
@use "../core/mixins";
@use "../core/theme";

@use "sass:list";

.step {
  &-horizontal {
    & .step {
      &-header {
        justify-content: space-between;
        align-items: center;
        display: flex;
      }
    }

    &-sm {
      & .step-header {
        column-gap: functions.convertToRem(50px);
      }
    }
  }

  &-vertical {
    & .step {
      &-header {
        flex-direction: column;
        display: flex;
      }
    }
  }

  &-body {
    position: relative;
    overflow: hidden;
    width: 100%;

    &-item {
      transition: transform 0.5s ease;
      overflow: hidden;

      &:not(.step-body-item-active) {
        position: absolute;
        display: block;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
      }

      &-active {
        flex-direction: column;
        flex-basis: 100%;
        display: flex;
        flex-grow: 1;
        height: 100%;
        width: 100%;
        z-index: 1;
      }
    }
  }

  &-element {
    &-basic {
      & .step-element-content {
        border-radius: global.get-specific-value(border-radius, circle);
        transition: background-color 0.3s ease, border-color 0.3s ease;
        border-width: global.get-specific-value(border-width, m);
        border-color: transparent;
        border-style: solid;
      }

      &.step-element-error {
        & .step-element-content {
          background-color: var(--color-content-error);

          @include mixins.colorSVG();

          & span {
            color: var(--color-content-secondary-inverse);
          }
        }

        & p {
          color: var(--color-content-error);
        }
      }

      &[disabled="true"] {
        & .step-element-content {
          background-color: var(--color-background-secondary-mid);
          @include mixins.colorSVG();

          & span {
            color: var(--color-content-secondary-mid);
          }

          &::before {
            background-color: var(--color-background-primary);
          }
        }

        & p {
          color: var(--color-content-secondary-mid);
        }
      }

      &-sm {
        & .step-element-content {
          height: global.get-specific-value(size, 3xl);
          width: global.get-specific-value(size, 3xl);
          position: relative;

          &:not([isFirst="true"])::before {
            right: calc(100% + functions.convertToRem(5px));
            height: functions.convertToRem(1px);
            width: functions.convertToRem(44px);
            position: absolute;
            content: "";
          }
        }
      }

      &:not(.step-element-basic-sm) {
        & .step-element-content {
          height: global.get-specific-value(size, 5xl);
          width: global.get-specific-value(size, 5xl);
        }
      }

      &:not(.step-element-error):not([disabled="true"]) {
        &.step-element-active {
          & .step-element-content {
            background-color: var(--color-background-secondary);
            border-color: var(--color-background-secondary);
            & span {
              color: var(--color-content-secondary-inverse);
            }
          }
        }

        &.step-element-finished {
          & .step-element-content {
            background-color: var(--color-background-secondary-low);
            border-color: var(--color-background-secondary);
          }
        }

        &.step-element-finished,
        &.step-element-active {
          & .step-element-content {
            &::before {
              background-color: var(--color-background-secondary);
            }
          }
        }
      }
    }
  }
}
