@use "../core/typography";
@use "../core/global";
@use "../core/theme";

.table {
  white-space: normal;
  border-spacing: 0;
  width: 100%;
  border: 0;

  &.sticky {
    & thead {
      position: sticky;
      z-index: 1;
      top: 0;
    }
  }

  &.layout {
    table-layout: fixed;
  }

  & thead {
    background-color: var(--color-background-primary);

    & th {
      border-color: var(--color-border-secondary-high);
      padding: global.get-specific-value(space, l)
        global.get-specific-value(space, s);
      border-style: solid;

      @include typography.get-typography-style(text-semibold, s, default);

      &:first-child {
        border-width: 1px;
      }

      &:not(:first-child) {
        border-width: 1px 1px 1px 0;
      }

      & .sortable-action {
        background-color: transparent;
        cursor: pointer;
        border: none;
        padding: 0;

        &-hidden {
          visibility: hidden;
        }
      }

      &:hover {
        & .sortable-action {
          visibility: visible;
        }
      }
    }
  }

  & tbody {
    & tr {
      & td {
        border-color: var(--color-border-tertiary);
        border-style: solid;

        @include typography.get-typography-style(text-regular, s, default);

        &:not([withButtons="true"]) {
          padding: global.get-specific-value(space, l)
            global.get-specific-value(space, s);
        }

        &[withButtons="true"] {
          padding: global.get-specific-value(space, s);
        }

        &:first-child {
          border-width: 0 1px 1px 1px;
        }

        &:not(:first-child) {
          border-width: 0 1px 1px 0;
        }
      }
    }
  }

  & tfoot {
    & tr {
      &.summary {
        background-color: var(--color-background-secondary-high);

        & td {
          @include typography.get-typography-style(text-semibold, s, default);
        }
      }

      & td {
        padding: global.get-specific-value(space, l)
          global.get-specific-value(space, s);

        & app-input-number {
          width: 2.5rem;
        }

        & .action-pagination {
          border-radius: global.get-specific-value(border-radius, xs);
          border: global.get-specific-value(border-width, xs) solid
            var(--color-border-tertiary);
          background-color: var(--color-content-secondary-inverse);
          cursor: pointer;
        }
      }
    }
  }
}
