@use "../core/typography";
@use "../core/animations";
@use "../core/global";
@use "../core/theme";

$background: #000000cc;

.tooltip {
  border-radius: global.get-specific-value(border-radius, xs);
  padding: global.get-specific-value(space, xs)
    global.get-specific-value(space, s);
  background-color: $background;
  min-width: max-content;
  max-height: 9.525rem;

  @include animations.fade-in();

  & .tooltip-text {
    color: var(--color-content-secondary-inverse);
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-word;
    -webkit-line-clamp: 6;
    display: -webkit-box;
    max-width: 20rem;
    overflow: hidden;
    line-clamp: 6;
  }

  &-m {
    & .tooltip-text {
      @include typography.get-typography-style(text-regular, m);
    }
  }

  &-s {
    & .tooltip-text {
      @include typography.get-typography-style(text-regular, s);
    }
  }

  &-xs {
    & .tooltip-text {
      @include typography.get-typography-style(text-regular, xs);
    }
  }

  & .tooltip-arrow {
    border-color: transparent $background transparent transparent;
    border-width: 0.525rem 0.525rem 0.525rem 0;
    border-style: solid;
    position: absolute;
    height: 0;
    width: 0;

    &-top {
      transform: translateX(-50%) rotate(90deg);
      top: -0.725rem;
      left: 50%;

      &-left {
        transform: rotate(90deg);
        top: -0.725rem;
        left: 1rem;
      }

      &-right {
        transform: rotate(90deg);
        top: -0.725rem;
        right: 1rem;
      }
    }

    &-bottom {
      transform: translateX(-50%) rotate(-90deg);
      bottom: -0.725rem;
      left: 50%;

      &-left {
        transform: rotate(-90deg);
        bottom: -0.725rem;
        left: 1rem;
      }

      &-right {
        transform: rotate(-90deg);
        bottom: -0.725rem;
        right: 1rem;
      }
    }

    &-right {
      transform: translateY(-50%) rotate(-180deg);
      right: -0.425rem;
      top: 50%;
    }

    &-left {
      transform: translateY(-50%);
      left: -0.425rem;
      top: 50%;
    }
  }
}
