@use "src/app/domonow-shared-components-web/styles/core/global";

.card {
  background-color: var(--color-background-secondary-inverse);
  border-radius: global.get-specific-value(border-radius, l);
  border-width: global.get-specific-value(border-width, xs);
  padding: global.get-specific-value(space, l);
  border-style: dashed;

  &:not([class*="bc-"]) {
    border-color: var(--color-border-secondary);
  }
}
