<div
  class="form-field form-field-select form-field-{{
    invalid && touched ? 'error' : status()
  }} form-field-{{ size() }}"
  [ngClass]="{
    'form-field-filled': !!selectedOption(),
    'form-field-combo': inCombo()
  }"
  [appDisabledElement]="disabledElement()"
  [attr.readonly]="readonly()"
  [attr.required]="required()"
  [opacityElement]="0.5"
>
  <div class="display-flex align-items-center justify-content-space-between">
    <ng-content select="[label]"></ng-content>
    <ng-content select="[labelOptional]"></ng-content>
  </div>

  <div
    [attr.tabindex]="readonly() || disabledElement() ? -1 : 0"
    [disableOverlay]="readonly() || disabledElement()"
    [overlayFullScreen]="overlayFullScreen()"
    [(actionOverlay)]="actionOverlay"
    [overlayWidth]="overlayWidth()"
    overlayPosition="bottom-left"
    [appOverlay]="overlaySelect"
    class="form-field-content"
  >
    <ng-content select="[prefix]"></ng-content>

    <!-- Texto placeholder cuando no hay selección -->
    @if(!selectedOption()){
    <p
      [ngClass]="{
        'font-text-regular-m': size() === 'sm',
        'font-text-regular-l': size() !== 'sm'
      }"
      class="width-100 line-height-normal-important text-cut"
      [attr.empty]="true"
    >
      {{ placeholder() }}
    </p>
    }@else {
    <p
      [ngClass]="{
        'font-text-regular-m': size() === 'sm',
        'font-text-regular-l': size() !== 'sm'
      }"
      class="width-100 line-height-normal-important text-cut"
    >
      {{ getOptionText(selectedOption()) | translate }}
    </p>
    }

    <ng-content select="[prefix]"></ng-content>
    <div
      [ngClass]="{ 'rotate-icon-activate': actionOverlay() === 'open' }"
      class="rotate-icon"
    >
      <app-icon icon="ARROW_DROP_DOWN_OUTLINED" size="xl"></app-icon>
    </div>
    @if(iconStatus() || (invalid && touched)){
    <app-icon
      [icon]="iconStatus() || 'ERROR_OUTLINE_OUTLINED'"
      @fadeInOut
      size="xl"
    ></app-icon>
    }
    <ng-content select="[suffix]"></ng-content>
  </div>

  @if(invalid && touched){ @if(defaultLabelError()){
  <label [for]="id()" secondary="true">
    {{ "REQUIRED_FIELD" | translate }}
  </label>
  }@else {
  <ng-content select="[labelError]"></ng-content>
  } }

  <ng-content select="[labelSecondary]"></ng-content>
</div>

<ng-template #overlaySelect>
  <ul
    [ngClass]="{ 'overlay-select-mobile': layoutService.isMobile() }"
    class="overlay-select"
  >
    <div class="overlay-select-header">
      <!--  -->
      @if(showSearch()){
      <div class="margin-bottom-s">
        <app-input-text
          [placeholder]="('SEARCH' | translate) + '...'"
          [formControl]="searchControl"
          id="search"
          autofocus
        >
          <app-icon icon="SEARCH_OUTLINED" size="2xl" prefix></app-icon>
        </app-input-text>
      </div>
      }
      <!--  -->
      @if(canAddOption() && !!searchControl.value){
      <app-select-option
        classes="justify-content-space-between"
        (eventClick)="executeAddOption()"
        [index]="-2"
        @collapse
      >
        {{ searchControl.value }}
        <div class="display-flex align-items-center column-gap-2xs">
          <app-icon
            color="svg-content-info"
            icon="person_add_outlined"
            size="m"
          ></app-icon>
          <a
            class="font-text-regular-xs cl-content-info text-decoration-underline"
          >
            {{ "ADD" | translate }}
          </a>
        </div>
      </app-select-option>
      }
    </div>
    <div
      [ngClass]="{
        'center-all flex-direction-column':
          !filteredOptions().length && !isLoading()
      }"
      class="overlay-select-body"
      (scroll)="loadMore($event)"
    >
      <!-- Options -->
      @for(option of filteredOptions(); track (option[optionId()] || option);
      let i = $index){
      <ng-container
        *ngTemplateOutlet="
          templateRef();
          context: {
            $implicit: option,
            index: i
          }
        "
      ></ng-container>
      }

      <!-- Skeleton -->
      @if(isLoading()){ @for(skeleton of createArrayByNumber(10); track
      skeleton){
      <app-item-skeleton height="40" />
      } }

      <!-- Error State -->
      @else if(withErrorInList()){
      <app-error-state (eventClick)="eventLoadMore.emit(queryParamsFilter)" />
      }

      <!-- Empty State -->
      @else if(!filteredOptions().length){
      <app-empty-state hidePrimaryButton hideSecondaryButton />
      }
    </div>
  </ul>
</ng-template>
