<li
  [ngClass]="{
    'select-option-success': status() === 'success',
    'select-option-error': status() === 'error',
    'select-option-selected': isSelected()
  }"
  [appDisabledElement]="disabledElement()"
  class="select-option {{ classes() }}"
  [attr.noSelectors]="noSelectors()"
  (click)="onClick($event)"
>
  @if(checkboxControl()){
  <app-checkbox
    [disabledElement]="disabledElement()"
    [formControl]="checkboxControl()"
    [id]="'checkbox' + index"
    appOmitClick
  ></app-checkbox>
  }
  <ng-content></ng-content>
</li>
