@import "../../styles/core/_mixins.scss";
@import "../../styles/core/theme";


.resident-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
    padding: 0.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    background-color: #ffffff;
    margin-block-start: 0.3rem;

    .resident-initials {
        inline-size: 2.5rem;
        block-size: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e8f0fe;
        border-radius: 50%;
        font-weight: 500;
    }

    .resident-info {
        flex: 1;

        h3 {
            font-size: 1rem;
            margin-block-end: 0.25rem;
        }

        .status-info {
            display: flex;
            align-items: center;
            gap: 1rem;

            .entry-date {
                color: #666;
                font-size: x-small;
            }

            .details-link {
                color: #002039;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .right-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        inline-size: 20%;
        gap: 0.25rem;

        .status-badge {
            padding: 0.15rem 0.5rem;
            border-radius: 1rem;
            font-size: xx-small;
            font-weight: 400;
            text-transform: capitalize;
            color: white;
        }

        .status-green {
            background-color: #00a389;
        }

        .status-orange {
            background-color: #f28c28;
        }

        .status-red {
            background-color: #e74c3c;
        }

        .qr-btn {
            padding: 0.5rem;
            background-color: get-theme-value(button, primary, background);
            border: 1px solid #e0e0e0;
            border-radius: 0.25rem;
            color: #ffffff;
            cursor: pointer;

            i{
                color: #e0e0e0;
            }


        }
    }
}