<!-- <div
  [ngClass]="{
    'admon-info-card-mobile': layoutService.isMobile()
  }"
  class="admon-info-card"
>
  <h3
    class="font-heading-semibold-s cl-content-secondary-inverse margin-bottom-l"
  >
    Administración
  </h3>
  <div class="display-flex flex-direction-column row-gap-s">
    <section class="display-flex align-items-center column-gap-l">
      <app-icon
        color="svg-content-secondary-inverse"
        icon="BADGE_OUTLINED"
        size="3xl"
      ></app-icon>
      <article>
        <p class="font-text-semibold-s cl-content-secondary-inverse">
          Administradora
        </p>
        <p class="font-text-regular-m cl-content-secondary-inverse">
          {{ admin()?.nameUser }}
        </p>
      </article>
    </section>

    <section class="display-flex align-items-center column-gap-l">
      <app-icon
        color="svg-content-secondary-inverse"
        icon="MAIL_OUTLINED"
        size="3xl"
      ></app-icon>
      <article>
        <p class="font-text-semibold-s cl-content-secondary-inverse">Correo</p>
        <p class="font-text-regular-m cl-content-secondary-inverse">
          {{ admin()?.email }}
        </p>
      </article>
    </section>

    <div class="separator"></div>

    <section class="display-flex align-items-center column-gap-l">
      <app-icon
        color="svg-content-secondary-inverse"
        icon="ROOM_SERVICE_OUTLINED"
        size="3xl"
      ></app-icon>
      <article>
        <p class="font-text-semibold-s cl-content-secondary-inverse">
          Teléfono admon
        </p>
        <p class="font-text-regular-m cl-content-secondary-inverse">
          {{ admin()?.cellPhone }}
        </p>
      </article>
    </section>

    <section class="display-flex align-items-center column-gap-l">
      <app-icon
        color="svg-content-secondary-inverse"
        icon="SCHEDULE_OUTLINED"
        size="3xl"
      ></app-icon>
      <article>
        <p class="font-text-semibold-s cl-content-secondary-inverse">
          Horarios de atención
        </p>
        <p class="font-text-regular-m cl-content-secondary-inverse">
          Lunes a Viernes - 8:00am a 2:00pm
        </p>
      </article>
    </section>
  </div>
</div> -->
