.scan-qr-modal {
  background: var(--color-basic-black);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100dvh;
  display: flex;
  width: 100%;

  &-action-close {
    position: absolute;
    z-index: 1000;
    left: 1rem;
    top: 1rem;
  }

  /* Container del scanner */
  &-body {
    flex-direction: column;
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;

    /* Scanner ZXing */
    & .zxing-scanner {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & .zxing-scanner video {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  /* Instrucciones */
  &-instructions {
    transform: translateX(-50%);
    position: absolute;
    z-index: 1000;
    bottom: 3rem;
    left: 50%;
  }
}
