.gallery-fullscreen {
  background-color: #000;
  position: relative;
  touch-action: none;
  user-select: none;
  height: 100dvh;
  width: 100dvw;

  &-content {
    will-change: transform;
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
  }

  &-image {
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    & img {
      max-width: 100%;
    }
  }

  & pdf-viewer {
    position: absolute;
    overflow: hidden;
    height: 100dvh;
    width: 100dvw;
  }

  ::ng-deep .pdfViewer {
    scrollbar-width: none;
    overflow-y: auto;
    height: 100dvh;
    width: 100dvw;
  }

  app-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}
