<div
  class="gallery-fullscreen"
  #galleryFullscreen
  (mousedown)="slideStart($event)"
  (mousemove)="slideMove($event)"
  (touchstart)="slideStart($event)"
  (touchmove)="slideMove($event)"
  (mouseleave)="slideEnd()"
  (mouseup)="slideEnd()"
  (touchend)="slideEnd()"
>
  <div
    [style.transition]="trackAnimating() ? 'transform 300ms ease' : 'none'"
    [style.transform]="trackTransform()"
    class="gallery-fullscreen-content"
  >
    @for (file of files(); track file.id; let i = $index) {
    @if(file.type.includes('image')){
    <pinch-zoom
      class="gallery-fullscreen-image padding-xs"
      (zoomChanged)="onZoomChange($event)"
      [ngStyle]="{
        left: windowWidth() * i + 'px'
      }"
      [wheel]="!isMobile()"
      [doubleTap]="true"
      [limitPan]="true"
      #pinchZoomRef
    >
      <img draggable="false" [src]="file.url" />
    </pinch-zoom>
    }@else{
    <div class="center-all">
      <pdf-viewer
        [ngStyle]="{ left: windowWidth() * i + 'px' }"
        [external-link-target]="'blank'"
        [original-size]="false"
        [zoom-scale]="'page-fit'"
        [show-borders]="false"
        [render-text]="true"
        [fit-to-page]="true"
        [autoresize]="true"
        [show-all]="true"
        [src]="file.url"
        [zoom]="1"
      >
      </pdf-viewer>
    </div>
    } }
    <!-- @for (pdf of pdfs(); track pdf.id; let i = $index) { -->

    <!-- <ngx-extended-pdf-viewer
      [src]="pdf.url"
      [ngStyle]="{ left: windowWidth() * i + 'px' }"
      [zoom]="'page-fit'"
      [showBorders]="false"
      [textLayer]="true"
      [height]="'100vh'"
      [showToolbar]="false"
      [showSidebarButton]="false"
      [showFindButton]="false"
      (pagesLoaded)="onPdfLoaded()"
    ></ngx-extended-pdf-viewer> -->
    <!-- } -->
  </div>

  <app-button
    classes="button-secondary-inverse button-circle button-circle-xs"
    (click)="dialogClose.emit()"
  >
    <app-icon icon="close_round" size="l"></app-icon>
  </app-button>
</div>
